<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bearcorner_mobile">

    <queries>
    <package android:name="ru.foodfox.client&amp;hl=ru&amp;gl=US" />
        <package android:name="com.deliveryclub&amp;hl=ru&amp;gl=US" />
        <package android:name="ru.megamarket.marketplace" />
</queries>

    <category android:name="android.intent.category.HOME"/>
    <category android:name="android.intent.category.DEFAULT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
